.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.element{
    background-color: beige;
    text-align: center;
    font-size: 30px;
    width: 30%;
    margin: 50px;
    padding-top: 20px;
}

.element-name{
    
}

.element-footer{
    display: flex;
    margin-top: 30px;
}

.element-footer > *{
    width: 100%;
    background-color: bisque;
    cursor: pointer;
    &:hover{
        background-color: burlywood;
    }
}