*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

a{
    color: inherit;
    text-decoration: inherit;
}

body{
    font-family: $font-content;
    background-image: url('images/paper.jpg');
    background-size: cover;
}
